.container {
  max-width: 90%;
  margin: 0 auto;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

.button {
    background-color: #0c1e5a;
    color: white;
    font-size: 14px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    
    
    
}
.heading__title {
    font-weight: 600;
  }
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }

.card {
    margin: 20px;
    padding: 20px;
    width: 570px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }


  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    color: #ffffff;
    justify-content: center ;
    justify-self: center;
    
   
  }
  


  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }

  .card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
  font-size: 30px;
  padding-left: 250px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
   margin-left: 400px;

  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
 
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }

  .centertitle {
    text-align: center;
  }
  
  .botoncenter {
    margin-left: 750px;
  }
  .bold_task {
    font-weight: bold;
    color: #0c1e5a;
  }
  